
/*RESETEOS*/
*{
  box-sizing: border-box;

}
ul,ol{
  padding: 0;
}

li{
  list-style-type: none;


}
a{
  text-decoration: none;
  color: #000;
}

/* MAIN*/
body{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
 background-position: left top;
  width: 540px;
  margin: 0 auto;

  font-family: 'Roboto Condensed', sans-serif;

}

header{
  width: 100%;
  margin: 0 auto;
}
.idiomas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url(../img/barra-header.jpg);
  margin-top: 0;
  padding:15px;
  margin-bottom:0;


}

.idiomas li a{
      color:white;
      margin-right: 20px;

}

.social-media{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 10px;

}

.social-media a{
  color:#fff;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 23px;




}
header{
  align-items: flex-start;
}
.buscador{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width:200px;
}

.puntoarg{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
justify-content: space-around;

}

.menu li{
  background-color: #d9d9d9;
  margin:2px 2px auto;
  padding: 5px;

}
.menu li a{
  color: #000;
}
.registro{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.registro p input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;


}

label{
  font-size: 18px;
  font-weight: bold;

}
